header{
    color: #000000;
    text-align: center;
    height: 100%;
    font-family: sans-serif, Arial;
}

body{
    background-color: #e3e3e3;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 6px;
    height: 25px;
}

nav ul li {
    display: inline;
    padding: 10px
}

nav ul li a {
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    color: black;
    font-family: sans-serif, Arial;
}

.poverty{
    background-color: #900603;
    padding: 5px;
}

.health{
    background-color:  #8ac926;
    padding: 5px;
}

.water{
    background-color: #1982c4;
    padding: 5px;
}

.active {
    border-bottom: 5px solid #32312f;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30vh;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: auto;
    border: 2px;
    border-style: solid;
    border-color: #a6a0ba;
    border-radius: 20px;
    box-sizing: border-box;
}

.services img {
    width: 34vh;
    float: left;
    margin-right: 50px;
    display: block;
}

.services p{
    font-size: large;
    font-family: sans-serif, Helvetica;
}

h3{
    font-family: sans-serif, Arial;
}


@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        height: auto;
    }

    .services img {
        margin: 0 auto 20px auto;
        width: 90%;
        float: top;
    }
}